<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<body>

<div class="header" th:fragment="header (courseTitle, isTeacher)">
    <h1 class="page_title" th:text="${courseTitle}">Java Programming</h1>
    <div class="header_menu">
        <div class="cart" th:if="${!isTeacher}">
            <a href="#" th:href="@{/cart}">
                <img src="#" th:src="@{/images/headercart.svg}" alt="">
            </a>

            <div th:if="${session.cart != null && session.cart?.size() != 0}">
                <div class="cart_size">
                    <span th:text="${session.cart?.size()}"></span>
                </div>
            </div>

        </div>
        <a class="dashboard_type" th:if="${!isTeacher}" th:href="@{/t/dashboard}" href="#">
            Dashboard for Teacher
        </a>
        <a class="dashboard_type" th:if="${isTeacher}"  th:href="@{/dashboard}" href="#">
            Dashboard for Student
        </a>
        <div class="user">
            <div class="user_profile">

                <img src="#" th:src="@{${'/img/' + session.currentUserDto?.image}}" alt="">
            </div>
            <div class="user_name">User Name</div>
            <button class="user_details_button">
                <img src="#" th:src="@{/images/selectArrow.svg}" alt="">
            </button>
        </div>
    </div>
</div>


</body>
</html>
