<div id="carouselExampleIndicators" class="carousel slide slider_body" data-bs-ride="carousel" th:fragment="slider">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                class="active slider_btn" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2" class="slider_btn"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3" class="slider_btn"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-5">
                    <img src="#" th:src="@{/images/card1.png}" class="slider_img" alt="...">
                </div>
                <div class="col-7">
                    <div class="slider_cont">

                        <p class="slider_title">Artificial Intelligence for Marketing</p>
                        <p class="slider_text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto debitis dolore earum
                            ex
                            harum hic iusto nesciunt quos sint. Laborum repudiandae sed sint. Debitis doloremque esse
                            nesciunt temporibus? Laudantium!
                        </p>
                        <div class="slider_button_wrapper">
                            <button class="slider_button">Learn Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-5">
                    <img src="#" th:src="@{/images/card1.png}" class="slider_img" alt="...">
                </div>
                <div class="col-7">
                    <div class="slider_cont">

                        <p class="slider_title">Artificial Intelligence for Marketing</p>
                        <p class="slider_text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto debitis dolore earum
                            ex
                            harum hic iusto nesciunt quos sint. Laborum repudiandae sed sint. Debitis doloremque esse
                            nesciunt temporibus? Laudantium!
                        </p>
                        <div class="slider_button_wrapper">
                            <button class="slider_button">Learn Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-5">
                    <img src="#" th:src="@{/images/card1.png}" class="slider_img" alt="...">
                </div>
                <div class="col-7">
                    <div class="slider_cont">

                        <p class="slider_title">Artificial Intelligence for Marketing</p>
                        <p class="slider_text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto debitis dolore earum
                            ex
                            harum hic iusto nesciunt quos sint. Laborum repudiandae sed sint. Debitis doloremque esse
                            nesciunt temporibus? Laudantium!
                        </p>
                        <div class="slider_button_wrapper">
                            <button class="slider_button">Learn Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>