html, body {
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
}


.course_types {
    display: flex;
}
.course_types .course_type {
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #062F4F;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 0px;
}
.course_types .course_type.top_courses {
    background-color: rgb(99, 100, 121);
    border-radius: 10px 0px 0px 10px;
    color: white !important;
}
.search_course {
    float: right;
    margin-bottom: 30px;
}
.search_input {
    background-color: #FFFFFF;
    border: 1px solid #062F4F;
    border-radius: 20px;
    width: 297px;
    height: 45px;
    padding-left: 26px;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-position: center right 27px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
}
.search_input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.25);
}


