html, body {
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
}

.welcome_msg {
    line-height: 1.5em;
}

.welcome_msg .hi {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    color: #062F4F;
    font-weight: 700;
}

.welcome_msg .what {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    color: #062F4F;
    font-weight: bolder;
}

.cont_body {
    justify-content: normal;
}

.curriculum {
    width: 100%;
    background: none;
    padding: 0px;
    margin-left: 5em;
    margin-top: 3em;
}

.slider_title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.7em;
    color: white;
    font-weight: bolder;
    width: 90%;
}

.slider_text {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: white;
    width: 90%;
}

.slider_button_wrapper {
    display: flex;
    justify-content: flex-start;
    width: 90%;
}

.slider_button {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    background: white;
    color: #062F4F;
    border-radius: 20px;
    padding: 1em 3em;
    border: 1px solid white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    margin-top: 1em;
}

.slider_body {
    background: #CA9C5A;
    border-radius: 20px;
    width: 85%;
    padding: 3em;
    margin-top: 2em;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.slider_img {
    width: 100%;
    height: 100%;
}

.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: white;
    opacity: 1;
}

.carousel-indicators .active {
    width: 8px;
    height: 8px;
}

.carousel-indicators {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_cont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.top_courses {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color: #062F4F;
    font-weight: bolder;
}

.top_courses_wrapper {
    margin-top: 5em;
    width: 85%;
}

.course_card {
    background: white;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.author {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #808191;
    margin-top: 1em;
}

.card_title {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #11142D;
    font-weight: 600;
    text-decoration: none;
}

.card_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 1em;
}

.star_img {
    display: flex;
    justify-content: flex-end;
    width: 75%;
}

.students {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.card_footer img {
    width: 20px;
    height: 20px;
}

.alert {
    width: 80%;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}