html, body {
    margin: 0;
    padding: 0;
    background: #062F4F;
    width: 1920px;

}
.main {
    display: flex;
}
/*SIDEBAR*/
.sidebar {
    width: 15%;
    color: #fff;
    padding-top: 25px;
    background: #062F4F;
    height: 1200px;
}
.logo {
    margin-bottom: 30px;
}
.logo img {
    cursor: pointer;
}
.logo {
  width: 182px;
  height: 69px;
  background: url("../images/dark.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.main_menu {
}
.menu_title {
    font-family: 'Expletus Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 30px;
}
ul {
    list-style: none;
    padding: 0;
}
.menu_list {
    margin-left: 17px;
    margin-bottom: 20px;
}
.menu_item {
  height: 60px;
  width: 90%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 15.5px;
  cursor: pointer;

  font-family: 'Expletus Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;

  color: #CCD2E3;
}
.menu_item.chosen {
    color: white;
    background: #104A8B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu_item img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.menu_item:hover {
    background: rgba(16, 74, 139, 0.24);
}
.notification {
    position: absolute;
    right: 5px;
    width: 24px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CF3A59;
    border-radius: 10px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}


.log_out {
    font-family: 'Expletus Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #E6E6E6;
    width: 200px;
    display: flex;
    align-items: center;
    margin-left: 35px;
    position: relative;
    bottom: 30px;
    top: 50px;
}
.log_out img {
    margin-right: 10px;
}
/* Sidebar */




.content_blog {
    width: 82%;
}
/*HEADER*/
.content_blog .header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #062F4F;
}
.page_title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    margin-left: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header_menu {
    width: 60%;
    display: flex;
    align-items: center;
}
.header_menu .cart {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #1C425F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
.header_menu .dashboard_type {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #062F4F;
    width: 257px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 23px;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.header_menu .user {
    display: flex;
    margin-left: 17px;
    align-items: center;
}
.user .user_profile {
    display: flex;
    justify-content: center;
}
.user_profile img {
    width: 100%;
    height: 100%;
}
.user .user_name {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-right: 10px;
    margin-left: 11px;
}
.user .user_details_button {
    width: 25px;
    height: 20px;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #062F4F;
}

.main-container{
    background-color: #E5E5E5;
    border-radius: 20px;
    width: 1200px;
    /* min-height:900px ; */
  }

.main-content{
    background-color: white;
    width: 90%;
    height: 96%;
    border-radius: 20px;
    margin-top: 15px;
}

.content{
    width:85%;
    margin-left: 90px;
}

.content h4{
    color: #062F4F;
    font-weight: 700;
}

.left_side_info h5{
    color: #062F4F;
    font-size: 24px;
}

.left_side_info span{
    color: #062F4F;
    font-size: 18px;
    font-weight: 500;
}

.cont_button{
    background-color: #062F4F;
    color: white;
    width:70%;
    border-radius: 12px;
    text-align: center;
    height: 25px;
    font-weight: 500;
    font-size: 16px;
}

#myProgress{
    width: 100%;
    background-color: gray;
    border-radius: 20px;
}

#myBar {
    width: 60%;
    height: 20px;
    background-color:#ca9c5a;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 20px; /* To center it vertically */
    color: white;
    border-radius: 12px;
  }

 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #062F4F;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .expected_time{
      margin-left: 550px;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }

  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .accordion:after {
    content: '\1F8A1'; /* Unicode character for "plus" sign (+) */
    font-size: 24px;
    color: #062F4F;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\1F8A0"; /* Unicode character for "minus" sign (-) */
    color: #062F4F;
  }
.inputField{
  position: relative;
  width: 288px;
height: 50px;
border: 2.5px solid #062F4F;
box-sizing: border-box;
border-radius: 10px;
display: inline-block;
  margin-left: 50px;
}
.nameText{
  width: 100%;
  height: 100%;
  border: transparent;
outline: none;
  overflow: hidden;
  background: inherit;
  margin-left: 10px;
}
.inputRows{
  position: relative;
  margin-left: 20px;
  margin-right: 0px;
  display: inline-block;
  margin-bottom: 50px;
  left: -70px;
  width: 685px;
}
.avatar{
  position: relative;
  width: 229px;
height: 350px;
float: right;
background: url(../images/avatar4.png);
background-image: cover;
background-size:100%;
background-repeat: no-repeat;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 20px;
top: -400px;
}
.otherRow{
  position:relative;
  top: -250px!important;
  left: -70px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 0px;
}
