html, body {
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
}

.course_types {
    display: flex;
}
.course_types .course_type {
    background: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #062F4F;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 0px;
}
.course_types .course_type.top_courses {
    background-color: rgb(99, 100, 121);
    border-radius: 10px 0px 0px 10px;
    color: white !important;
}
.search_course {
    float: right;
    margin-bottom: 30px;
    margin-top: 1em;
}
.search_input {
    background-color: #FFFFFF;
    border: 1px solid #062F4F;
    border-radius: 20px;
    width: 280px;
    height: 45px;
    padding-left: 26px;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-position: center right 27px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}
.search_input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.25);
}

.filter_courses {
    width: 20%;
}
.filter_header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #062F4F;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 163.42%;
    color: #FFFFFF;
    width: 50%;
    height: 54px;
    margin-bottom: 1em;
}
.filter_header img {
    width: 20px;
    margin-left: 10px;
    height: 20px;
}
.filter_inputs {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 1em;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}
.filter_types {

}
.filter_types span {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 163.42%;
    color: #062F4F;
    display: flex;
    flex-direction: column;

}
.filter_types input {
    margin-top: 10px;
    margin-bottom: 20px;
    background: #FFFFFF;
    border: 2px solid #062F4F;
    border-radius: 10px;
    height: 42px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
.filter_types select {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    background: #FFFFFF;
    border: 2px solid #062F4F;
    border-radius: 10px;
    height: 42px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
.filter_button {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    width: 145px;
    height: 42px;
    justify-content: center;
    margin-top: 2em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #062F4F;
    border: 2px solid #062F4F;
    box-sizing: border-box;
    border-radius: 10px;
}

.course_list {
    margin-top: 50px;
    width: 75%;
    height: 100%;
}
.course_card {
    display: flex;
    margin-bottom: 1em;
    align-items: center;
    margin-left: 3em;
    width: 90%;
    background: white;
    padding: 2em;
    border-radius: 10px;
}
.course_card:hover {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.course_card .course_img {
    width: 50%;
    height: 145px;
    margin-right: 1em;
}
.course_img img {
    width: 100%;
    border-radius: 20px;
    height: 100%;
    background-color: darkgray;
}
.course_info {

}
.course_info_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course_name {
    /*width: 80%;*/
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #062F4F;
    text-decoration: none;
}
.course_price {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.pirce_now {

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 163.42%;
    color: #062F4F;
    margin: 0;
}
.price_before {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 163.42%;
    color: rgba(6, 47, 79, 0.5);
    text-decoration: line-through;

}
.course_info_body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 163.42%;
    color: #666666;
    margin-top: 15px;
}
.author {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 163.42%;
    color: rgba(6, 47, 79, 0.75);
    margin-top: 10px;
}
.course_info_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course_info_rating {
    display: flex;
    align-items: center;
}
.course_info_rating .rate_number {
    margin-right: 10px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 163.42%;
    color: #273B4A;
}
.rate_icons {
    display: flex;
}
.rate_icons img {
    width: 20px;
    height: 30px !important;
    margin-right: 5px;
}
.course_info_rating .reviews {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 163.42%;
    color: rgba(6, 47, 79, 0.7);
}
.best_seller {
    background: #C31815;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    width: 108.85px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 11px;
    line-height: 163.42%;
    color: #FFFFFF;
}