<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Course</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/My_course_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
<div class="main">
    <div class="sidebar">
      <div class="logo">

      </div>
        <div class="main_menu">
            <p class="menu_title">MAIN MENU</p>
            <ul class="menu_list">
                <li class="menu_item ">
                    <img src="./img/dashboard.svg" alt="">
                    <span>Dashboard</span>
                </li>
                <li class="menu_item">
                    <img src="./img/courseReg.svg" alt="">
                    <span>New Course</span>
                </li>
            </ul>
        </div>
        <div class="main_menu">
            <p class="menu_title">Workspace</p>
            <ul class="menu_list">
                <li class="menu_item chosen">
                    <img src="./img/mycourse.svg" alt="">
                    <span>Curriculum</span>
                </li>
                <li class="menu_item ">
                    <img src="./img/Schedule.svg" alt="">
                    <span>Schedule</span>
                </li>
                <li class="menu_item">
                    <img src="./img/Chat.svg" alt="">
                    <span>Chat</span>
                </li>
                <li class="menu_item">
                    <img src="./img/Grades.svg" alt="">
                    <span>Grades</span>
                </li>
                <li class="menu_item">
                    <img src="./img/Attendance.svg" alt="">
                    <span>Attendance</span>
                </li>
            </ul>
        </div>
        <div class="main_menu">
            <p class="menu_title">General</p>
            <ul class="menu_list">
                <li class="menu_item">
                    <img src="./img/Payment.svg" alt="">
                    <span>Payment</span>
                </li>
                <li class="menu_item">
                    <img src="./img/Contacts.svg" alt="">
                    <span>Contacts</span>
                </li>
                <li class="menu_item">
                    <img src="./img/faq.svg" alt="">
                    <span>FAQ</span>
                </li>
            </ul>
        </div>

        <div class="log_out">
            <img src="./img/Signout.svg" alt="">
            Sign Out
        </div>
    </div>
    <!-- end of side bar and start of the header -->
    <div class="content_blog">
        <div class="header">
            <h1 class="page_title">My Course</h1>
            <div class="header_menu">
                <div class="cart">
                    <img src="./img/headercart.svg" alt="">
                </div>
                <a href="">
                    <div class="dashboard_type">
                          Dashboard Student
                    </div>
                </a>
                <div class="user">
                    <div class="user_profile">
                        <img src="./img/userprofile.png" alt="">
                    </div>
                    <div class="user_name">User Name</div>
                    <button class="user_details_button">
                        <img src="./img/selectArrow.svg" alt="">
                    </button>
                </div>
            </div>
        </div>

        <div class="main-container row">
            <div class="col main-content ms-3 me-3">
                <div class="container">
                    <div class="row content">

                        <div class="col">
                            <h4 class="mt-4 headh4">React + Redux from Zero</h4>
                            <hr>
                            <!-- info about something and img of react and redux -->
                            <div class="row">
                                <div class="col-6 mt-4 left_side_info">
                                    <span>By: California Institute</span>
                                    <h5 class="mt-5">Continue from where you left off. Dont lose what you already have in your hands!</h5>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <img src="img/react_redux.png" alt="" width="">
                                </div>
                            </div>

                            <!-- There are progress and continue button -->
                            <div class="row mt-3">
                                <div class="col-9">
                                    <div id="myProgress">
                                        <div id="myBar">60%</div>
                                    </div>
                                </div>
                                <div class="col-3 d-flex justify-content-end">
                                    <a href="#" class="cont_button"> Continue </a>
                                </div>
                            </div>

                            <!-- Accordion (content of course) -->
                            <button class="accordion mt-3">Week #1 <span class="expected_time">Expected time:3h 15min</span> </button>
                                <div class="panel">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident iure labore debitis tenetur quidem ad est libero modi cupiditate omnis aperiam nemo, dolore officiis, sequi voluptatibus eius nostrum a. Cum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptatibus facere eius nobis esse, minus dolorem similique. Dolor laborum iure vero voluptates! Ratione animi ad natus deserunt modi magnam officia!</p>
                                </div>
                            <button class="accordion mt-3">Week #2 <span class="expected_time">Expected time:3h 15min</span> </button>
                                <div class="panel">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident iure labore debitis tenetur quidem ad est libero modi cupiditate omnis aperiam nemo, dolore officiis, sequi voluptatibus eius nostrum a. Cum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptatibus facere eius nobis esse, minus dolorem similique. Dolor laborum iure vero voluptates! Ratione animi ad natus deserunt modi magnam officia!</p>
                                </div>
                                <button class="accordion mt-3">Week #3 <span class="expected_time">Expected time:3h 15min</span> </button>
                                <div class="panel">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident iure labore debitis tenetur quidem ad est libero modi cupiditate omnis aperiam nemo, dolore officiis, sequi voluptatibus eius nostrum a. Cum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptatibus facere eius nobis esse, minus dolorem similique. Dolor laborum iure vero voluptates! Ratione animi ad natus deserunt modi magnam officia!</p>
                                </div>
                                <button class="accordion mt-3">Week #4 <span class="expected_time">Expected time:3h 15min</span> </button>
                                <div class="panel">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident iure labore debitis tenetur quidem ad est libero modi cupiditate omnis aperiam nemo, dolore officiis, sequi voluptatibus eius nostrum a. Cum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptatibus facere eius nobis esse, minus dolorem similique. Dolor laborum iure vero voluptates! Ratione animi ad natus deserunt modi magnam officia!</p>
                                </div>
                                    <button class="accordion mt-3">Week #5 <span class="expected_time">Expected time:3h 15min</span> </button>
                                    <div class="panel">
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident iure labore debitis tenetur quidem ad est libero modi cupiditate omnis aperiam nemo, dolore officiis, sequi voluptatibus eius nostrum a. Cum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptatibus facere eius nobis esse, minus dolorem similique. Dolor laborum iure vero voluptates! Ratione animi ad natus deserunt modi magnam officia!</p>
                                    </div>
                                    <button class="accordion mt-3">Week #6 <span class="expected_time">Expected time:3h 15min</span> </button>
                                    <div class="panel">
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident iure labore debitis tenetur quidem ad est libero modi cupiditate omnis aperiam nemo, dolore officiis, sequi voluptatibus eius nostrum a. Cum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptatibus facere eius nobis esse, minus dolorem similique. Dolor laborum iure vero voluptates! Ratione animi ad natus deserunt modi magnam officia!</p>
                                    </div>
                                    <button class="accordion mt-3">Week #7 <span class="expected_time">Expected time:3h 15min</span> </button>
                                    <div class="panel">
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident iure labore debitis tenetur quidem ad est libero modi cupiditate omnis aperiam nemo, dolore officiis, sequi voluptatibus eius nostrum a. Cum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptatibus facere eius nobis esse, minus dolorem similique. Dolor laborum iure vero voluptates! Ratione animi ad natus deserunt modi magnam officia!</p>
                                    </div>



                        </div>

                    </div>
                </div>






            </div>
        </div>
    </div>
</div>
<script src="static/js/my_course_js.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>
