<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/TeacherDashboard.css}">
<!--    <link rel="stylesheet" href="static/css/New_course_style.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
<div class="main">
    <div class="sidebar">
        <div class="logo">

        </div>
        <div class="main_menu">
            <p class="menu_title">MAIN MENU</p>
            <ul class="menu_list">
                <li class="menu_item ">
                    <img th:src="@{/images/dashboard.svg}" alt="">
                    <span onclick="location.href = 'http://localhost:8081/teacher-dashboard'">Dashboard</span>
                </li>
                <li class="menu_item">
                    <img th:src="@{/images/courseReg.svg}" alt="">
                    <span onclick="location.href = 'http://localhost:8081/new-course' ">New Course</span>
                </li>
            </ul>
        </div>
        <div class="main_menu">
            <p class="menu_title">Workspace</p>
            <ul class="menu_list">
                <li class="menu_item ">
                    <img th:src="@{/images/mycourse.svg}" alt="">
                    <span>My Courses</span>
                </li>
                <li class="menu_item ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="25" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                        <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                    </svg>
                    <span class="ms-2">Students</span>
                </li>
                <li class="menu_item ">
                    <img th:src="@{/images/Grades.svg}" alt="">
                    <span class="ms-2" onclick="location.href = 'http://localhost:8081/grades'">Grades</span>
                </li>
                <li class="menu_item ">
                    <img th:src="@{/images/Attendance.svg}" alt="">
                    <span class="ms-2">Attendance</span>
                </li>
            </ul>
        </div>
        <div class="main_menu">
            <p class="menu_title">General</p>
            <ul class="menu_list">
                <li class="menu_item ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="25" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg>
                    <span class="ms-2" onclick="location.href = 'http://localhost:8081/FAQ'"> FAQ</span>
                </li>
                <li class="menu_item ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="25" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16">
                        <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/>
                        <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
                    </svg>
                    <span class="ms-2">News</span>
                </li>
                <li class="menu_item ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="25" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                    </svg>
                    <span class="ms-2">Settings</span>
                </li>
        </div>

        <div class="log_out">
            <img th:src="@{/images/Signout.svg}" alt="">
            Sign Out
        </div>
    </div>
    <div class="content_blog">
        <div class="header">
            <h1 class="page_title">Dashboard</h1>
            <div class="header_menu">
                <div class="cart">
                    <img th:src="@{/images/headercart.svg}" alt="">
                </div>
                <a href="">
                    <div class="dashboard_type">
                          Dashboard Teacher
                    </div>
                </a>
                <div class="user">
                    <div class="user_profile">
                        <img th:src="@{/images/userprofile.png}" alt="">
                    </div>
                    <div class="user_name">User Name</div>
                    <button class="user_details_button">
                        <img th:src="@{/images/selectArrow.svg}" alt="">
                    </button>
                </div>
            </div>
        </div>

        <div class="main-content row">
            <div class="course_cards">
                <div class="card">
                    <div class = "cardPicture1"></div>
                                                                            <h3 class = "cardName13">Total Students</h3>
                    <a class = "studentAmount13">576 students</a>
                </div>
                <div class="card">
                    <div class = "cardPicture2"></div>                    <h3 class = "cardName24">Courses</h3>
                    <a class = "studentAmount2">50</a>
                </div>
                <div class="card">
                    <div class = "cardPicture3"></div>                    <h3 class = "cardName13">Total Video</h3>
                    <a class = "studentAmount13">500 students</a>
                </div>
                <div class="card">
                    <div class = "cardPicture4"></div>                    <h3 class = "cardName24">Total Earning</h3>
                    <a class = "studentAmount4">$ 13000</a>
                </div>
            </div>

            <div id="chartContainer" style="height: 400px; width: 700px;padding-left: 50px"></div>


            <section>
                <h3 class = "sectionName">Students Geolocation Rate</h3>
                <div class="pieID pie">

                </div>
                <ul class="pieID legend">
                    <li>
                        <em>Almaty</em>
                        <span>718</span>
                    </li>
                    <li>
                        <em>Astana</em>
                        <span>531</span>
                    </li>
                    <li>
                        <em>Aktau</em>
                        <span>868</span>
                    </li>
                    <li>
                        <em>Shymkent</em>
                        <span>344</span>
                    </li>
                    <li>
                        <em>Kaskelen</em>
                        <span>1145</span>
                    </li>
                </ul>
            </section>
        </div>
</div>

    <!--Import jQuery before export.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--Data Table-->
    <script type="text/javascript"  src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
    function sliceSize(dataNum, dataTotal) {
        return (dataNum / dataTotal) * 360;
    }

    function addSlice(sliceSize, pieElement, offset, sliceID, color) {
        $(pieElement).append("<div class='slice "+sliceID+"'><span></span></div>");
        var offset = offset - 1;
        var sizeRotation = -179 + sliceSize;
        $("."+sliceID).css({
            "transform": "rotate("+offset+"deg) translate3d(0,0,0)"
        });
        $("."+sliceID+" span").css({
            "transform"       : "rotate("+sizeRotation+"deg) translate3d(0,0,0)",
            "background-color": color
        });
    }
    function iterateSlices(sliceSize, pieElement, offset, dataCount, sliceCount, color) {
        var sliceID = "s"+dataCount+"-"+sliceCount;
        var maxSize = 179;
        if(sliceSize<=maxSize) {
            addSlice(sliceSize, pieElement, offset, sliceID, color);
        } else {
            addSlice(maxSize, pieElement, offset, sliceID, color);
            iterateSlices(sliceSize-maxSize, pieElement, offset+maxSize, dataCount, sliceCount+1, color);
        }
    }
    function createPie(dataElement, pieElement) {
        var listData = [];
        $(dataElement+" span").each(function() {
            listData.push(Number($(this).html()));
        });
        var listTotal = 0;
        for(var i=0; i<listData.length; i++) {
            listTotal += listData[i];
        }
        var offset = 0;
        var color = [
            "cornflowerblue",
            "olivedrab",
            "orange",
            "tomato",
            "crimson",
            "purple",
            "turquoise",
            "forestgreen",
            "navy",
            "gray"
        ];
        for(var i=0; i<listData.length; i++) {
            var size = sliceSize(listData[i], listTotal);
            iterateSlices(size, pieElement, offset, i, 0, color[i]);
            $(dataElement+" li:nth-child("+(i+1)+")").css("border-color", color[i]);
            offset += size;
        }
    }
    createPie(".pieID.legend", ".pieID.pie");
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title:{
                text: "Working Activity"
            },
            axisX:{
                valueFormatString: "DDDD MMM",
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true
                }
            },
            axisY: {
                title: "Percentage",
                valueFormatString: "%##0.00",
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true,
                    labelFormatter: function(e) {
                        return "%" + CanvasJS.formatNumber(e.value, "##0.00");
                    }
                }
            },
            data: [{
                type: "area",
                xValueFormatString: "DDDD",
                yValueFormatString: "$##0.00",
                dataPoints: [
                    { x: new Date(2022, 4, 16), y: 0.0 },
                    { x: new Date(2022, 4, 17), y: 0.20 },
                    { x: new Date(2022, 4, 18), y: 0.30 },
                    { x: new Date(2022, 4, 19), y: 0.40 },
                    { x: new Date(2022, 4, 20), y: 0.60 },
                    { x: new Date(2022, 4, 21), y: 0.80 },
                    { x: new Date(2022, 4, 22), y: 0.100}
    ]
    }]
    });
        chart.render();

    }

    </script>


</body>
</html>
